<!doctype html>
<html lang="en">
  <head>
    <title>Avicii</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;400&display=swap" rel="stylesheet">
    
  </head>
  <body>

    <div class="container-fluid p-0 cp-bg-grey">
        <div class="header position-relative top">

            <div class="position-absolute top h-100 w-100 cp-text-white z20 d-flex justify-content-center align-items-center flex-column">
                <div class="d-none d-md-block headline">
                    A V I C I I
                </div>
            </div>

            <div class="d-none d-md-block position-absolute top z10 embed-responsive embed-responsive-16by9">
                <!--video-->
        
                <iframe width="100%" src="https://www.youtube.com/embed/sQw_DQxIjHg?controls=0&autoplay=1&mute=1;start=80" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light d-flex">
            <a class="navbar-brand h-100" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link text-white h4 header-font" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white h4 header-font" href="/albums" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Albums
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/albums">All Albums</a>
                  </div>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white h4 header-font" href="/feedback">Feedback <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white h4 header-font" href="/chat">Chat <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="maincontent">
    
                        <article class="article card m-5">
                            <div class="card-body">
                                <h1 class="article-title header-font">Biography</h1>
                                <p>Tim Bergling, better known by his stage name, “Avicii,” was a Swedish musician, DJ, remix artist, and record producer. Born and raised in Stockholm, he was one of the most popular musicians of his time. He showcased his music skills online to receive exposure. Avicii started making music at the age of 16 and began posting his singles on various online music forums. Soon, he caught the attention of a music label. In 2011, he achieved nationwide fame with his single ‘Levels.’ Two years later, he released his debut album, ‘True.’ His music touched a new level of experimentation, as he mixed electronic music with several genres of popular music and led the album to become a major commercial and critical success. The album made its way among the top 10 hits in more than 15 countries around the world, such as Sweden, US, and Australia. For the next few years, he toured around the globe, amassing a large fan following, and became one of the most popular DJs of this generation. However, Avicii suffered from serious mental-health issues and committed suicide on April 20, 2018.</p>
                            </div>
                        </article><!-- article -->
    
                        <article class="article card m-5">
                            <div class="card-body">
                                <h2 class="article-title header-font">Early Life</h2>
                                <p>Avicii was born Tim Bergling, on September 8, 1989, in Stockholm, Sweden, to Klas Bergling and Anki Lidén. His mother was a small-time actor who had appeared in more than 50 Swedish films and TV series. He was one of the four children of his parents and was heavily influenced by his older brother, who also happened to be a musician and DJ.</p>
                                <p>Avicii started making music at the age of 16. Within a few months, he started posting his music on various online electronic music forums. He remixed a number of classic songs in his early years. His work reached the right people, and he soon started getting approached by well-known music labels. His music resembled that of the popular group ‘Swedish House Mafia,’ and that helped him earn a huge fan following.</p>
                                <p>Avicii was also inspired by the music of Daft Punk and Steve Angello. He blended deep bass house sounds with melodic sounds. His music was appreciated by DJ Tiësto and Pete Tong. Tiësto introduced Avicii to a number of professional DJs and also set up live shows for him, at small venues.</p>
                                <p>By 2010, Avicii had started working as a small-time DJ, remixing for artists such as Little Boots and Robyn. Meanwhile, he continued to release his own singles, such as ‘Bromance’ and ‘My Feelings for You.’ ‘Seek Bromance,’ the remixed version of his single ‘Bromance,’ with vocals by Amanda Wilson, was a huge success.</p>
                            </div>
                        </article><!-- article -->
    
                        <article class="article card m-5">
                            <div class="card-body">
                                <h2 class="article-title header-font">Personal Life & Death</h2>
                                <p>Avicii was known to be a heavy alcoholic, and the habit had impacted his health. In 2012, he was diagnosed with acute pancreatitis and had his gall bladder and appendix removed. Despite the health concerns, he kept touring continuously and risked his mental and physical well-being.</p>
                                <p>By 2017, he started talking about depression and suicidal thoughts openly. Depression is highly prevalent in artists, and Avicii became one of its latest victims. The pressure and the lack of privacy that fame brought, perhaps, contributed to his failing mental health.</p>
                                <p>On April 20, 2018, his lifeless body was found in his hotel room near Muscat, Oman. A few days later, his family revealed that he had cut himself and bled to death. With Avicii’s suicide, another bright star of the music industry dimmed forever. The concept of the “tortured artist” had once again made its presence felt. He was 28 years old at the time of his death, but his music shall always remain ageless and immortal.</p>
                            </div>
                        </article><!-- article -->
    
                        <aside>
    
                        </aside>
    
                    </div>
                </div><!-- primary -->
                <aside class="col-sm-4">
                    <div class="row mt-5">
                        <iframe style="border-radius: 10px;" src="https://open.spotify.com/embed/playlist/37i9dQZF1DXcXBWjiVEM8R" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                    <div class="row">
                        <% gridPictures.forEach(picture => { %>
                         <img src="/images/grid/<%= picture %> " class="mt-5 picture" alt="">
                        <% }) %>
    
    
                    </div>
                </aside><!-- secondary -->
            </div>
        </div><!-- container -->

        
    </div>


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>